<div class="appmenu">
    <a href="/asset" id="menu_asset">Assets</a>
    <a href="/rack" id="menu_rack">Racks</a>
    <a href="/location" id="menu_location">Locations</a>
    <div class="appsubmenu">
        <a href="/location/category" id="menu_category">Categories</a>
        <a href="/location/region" id="menu_region">Regions</a>
    </div>
    <a href="/product" id="menu_product">Products</a>
    <div class="appsubmenu">
        <a href="/product/category" id="menu_product_category">Categories</a>
        <a href="/vendor" id="menu_vendor">Vendors</a>
    </div>
    <a href="/team" id="menu_team">Teams</a>
    <a href="/po" id="menu_po">Purchase Orders</a>
    <div class="appsubmenu">
        <a href="/po/status" id="menu_po_status">Status</a>
        <a href="/currency" id="menu_currency">Currency</a>
    </div>
</div>
<div class="app">
    <button id="new_element" class="button_new form_button"></button>
    <table class="datatable" id="locationtable">
    </table>
</div>
