<div class="appmenu">
    <a href="/device" id="menu_device">Devices</a>
    <div class="appsubmenu">
        <a href="/device_status" id="menu_status">Device Status</a>
    </div>
    <a href="/environment" id="menu_environment">Environment</a>
    <a href="/device_function" id="menu_device_function">Device Function</a>
    <a href="/os" id="menu_os">OS</a>
    <div class="appsubmenu">
        <a href="/os_version" id="menu_os_version">Version</a>
    </div>
</div>
<div class="app">
    <button id="new_element" class="button_new form_button"></button>
    <table class="datatable" id="datatable">
    </table>
</div>
