<div class="appmenu">
    <a href="/ip" id="menu_ip">IP Networks</a>
    <div class="appsubmenu">
        <a href="/ip/function" id="menu_function">Network Functions</a>
    </div>
</div>
<div class="app">
    <button id="new_element" class="button_new form_button"></button>
    <div id="nav_bar"></div>
    <table class="datatable" id="datatable">
    </table>
</div>
