<div class="form">
    <div class="form_title">Enter your Credentials</div>
    <div class="form_entry">
        <div class="form_message" id="id_message"></div>
    </div>
    <div class="form_entry">
        <label class="form_label" for="username">User Name</label>
        <input type="text" id="username" class="input_username">
    </div>
    <div class="form_entry">
        <label class="form_label" for="password">Password</label>
        <input type="password" id="password" class="input_username">
    </div>
    <div class="form_entry">
        <button class="form_button" id="login">Login</button>
    </div>
</div>
