<div class="itemboxes">
    <a class="itembox" href="/admin/users">
        <img src="/static/icons/users.png" class="itembox_img"></img>
        <div class="itembox_text">Users</div>
    </a>
    <a class="itembox" href="/assets">
        <img src="/static/icons/user.png" class="itembox_img"></img>
        <div class="itembox_text">Assets</div>
    </a>
    <a class="itembox" href="/sites">
        <img src="/static/icons/user.png" class="itembox_img"></img>
        <div class="itembox_text">Sites</div>
    </a>
    <a class="itembox" href="/devices">
        <img src="/static/icons/user.png" class="itembox_img"></img>
        <div class="itembox_text">Devices</div>
    </a>
    <a class="itembox" href="/ip">
        <img src="/static/icons/user.png" class="itembox_img"></img>
        <div class="itembox_text">IP Management</div>
    </a>
</div>