<div class="form" id="form_data">
    <div class="form_title">User Data</div>
    <div class="form_entry">
        <div class="form_message" id="message_user_data"></div>
    </div>
    <div class="form_entry">
        <label class="form_label" for="name">Name</label>
        <input type="text" id="name" class="input_username">
    </div>
    <div class="form_entry">
        <label class="form_label" for="name">Last Name</label>
        <input type="text" id="lastname" class="input_username">
    </div>
    <div class="form_entry">
        <button class="form_button" id="change_data">Update</button>
    </div>

    <div class="form_title">User Groups</div>
    <div class="form_list" id="groups"></div>

    <div class="form_title">Password Change</div>
    <div class="form_entry">
        <div class="form_message" id="message_password_change"></div>
    </div>
    <div class="form_entry">
        <label class="form_label" for="old_password">Old Password</label>
        <input type="password" id="old_password" class="input_username">
    </div>
    <div class="form_entry">
        <label class="form_label" for="new_password">New Password</label>
        <input type="password" id="new_password" class="input_username">
    </div>
    <div class="form_entry">
        <label class="form_label" for="new_password2">Repeat New Password</label>
        <input type="password" id="new_password2" class="input_username">
    </div>
    <div class="form_entry">
        <button class="form_button" id="change_password">Password Change</button>
    </div>
</div>

