<div class="appmenu">
    <a href="/admin/users" id="menu_users">Users</a>
    <a href="/admin/groups" id="menu_groups">Groups</a>
</div>
<div class="app">
    <button id="new_element" class="button_new form_button"></button>
    <table class="datatable" id="usertable">
    </table>
</div>
